html {
	background-color: #101828;
	color: #f2e3f7;
}

div {
	display: flex;
}

.score-box {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
}

#options {
	justify-content: space-between;
}

.container, #options{
	margin: 0px 250px 0px 250px;
}

button {
	padding: 10px 15px 10px 15px;
	width: 100px;
	background-color: #10bbce;
	color: #0a0a0a;
	border: solid 2px #f5f904;
}

#winner {
	justify-content: center;
}
